.hud-ui {
    position: absolute;
    bottom: 0;
    width: 100%;
    // height: 100%;
    display: flex;
    justify-content: center;
    &__stats {
        position: absolute;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.5);
        height: 600px;
        width: 400px;
        display: flex;
        flex-direction: column;
        &-item {
            display: flex;
            width: 100%;
            justify-content: space-around;
            align-items: center;
        }
        span {
            color: red;
        }
        &-subtract, &-add {
            background-color: rgba(255, 255, 255, 0.7);
            height: 20px;
            width: 20px;
            border-radius: 50%;
            text-align: center;
        }
        &-name {
            font-size: 24px;
        }
    }
    &__healthbar {
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 40px;
        border-radius: 32px;
        border: 4px rgba($color: #000000, $alpha: 0.7) solid;
        background-color: rgba($color: #000000, $alpha: 0.7);
        position: absolute;
        bottom: 0;
        &--inner {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 32px;
            background-color: rgba($color:  #60ad18, $alpha: 0.7);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &__healthbar-text {
        position: absolute;
        span {
            color: white;
        }
    }
}